body {
    //background:url("pics/background.jpg") no-repeat center top fixed;
    background:url("pics/bg_noface.jpg") center top fixed;
    //background:url("pics/J_face.png") center top;
    //height: 100%;
    height: 3000px;
    background-size: 100%;
    margin:0 auto;
    width: 100%;
    //border:solid;
}

#faceSpace{
    width:100%;
    position:fixed;
    top:0;
    height:70%;
    z-index:-1;
}

#faceSpace .lface{
    position:absolute;
    left:0;
    opacity:0.0;
}

#faceSpace .rface{
    position:absolute;
    right:0;
    opacity:0.0;
}



#topbar{
    background: grey;
    height: 20px;
    margin: 0;
    opacity: 0.5;
}
#bruce {
    text-align: center;
    margin: 20px auto 15px auto; 
} 
#bruce #line1{
    font-size: 16px;
    font-family: "Tahoma";
    letter-spacing: 20px;
    color: #9AAFAF;
}
#bruce #line2 {
    font-size:100px;
    //background: green;
    font-family:'Card Characters';
    color: #9AAFAF;
    background-image:url("pics/spade.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/heart.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/club.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/diamond.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
}
}
#intro #line6 {
    color: #710a05;
    text-align:center;
}
nav {
    margin-top: 2.5em;
}
nav a {
    padding: 3em;
    background-size:5em;
    background-position:center center;
    background-repeat:no-repeat;
    text-decoration: none;
    color:#9AAFAF;
    font-family:'Lucida Console';
}
nav #home{
    background-image:url("pics/spade.png");
}
nav #About{
    background-image:url("pics/heart.png");
}
nav #Resume{
    background-image:url("pics/club.png");
}
nav #Contact{
    background-image:url("pics/diamond.png");
}
#introImg{
    //background:blue;
    height: 450px;
    position:relative;
}

#dynamicWords{
    max-width: 1px;
    height:200px;
    //background:blue;
    margin: 100px auto;
}

#dynamicWords #img1{
    position:relative;
    left:-400px;
     

}
#dynamicWords #img2{
    margin: 45px 0 0 0;
    position: relative; 
    left: -380px;
}
#introImg img {
    max-width: 100%;
    position: absolute;
    top: -4em;
    left: -8em;
}
#intro {
    float:left;
    font-family:Tahoma;
    font-size: 80px;
    padding: 0;
//    background: red;
    width: 525px;
    
}
#intro #line1{
    color:#222D2D;
    margin:0 0 0px 0;

}
#intro #line5 {
    font-size: 60px;
    float: left;
    -moz-transform: rotate(-90deg);
    color: #185675;
    text-align: center;
    margin: 50px -50px 0px -30px;
    padding: 0;
    color: #000000;
    z-index:-1;
}
#intro #line2{
    color: #185675;
    margin:0 0 -50px 0;

}
#intro #line3{
    color:#9AAFAF;
    margin:0 0 30px 0;
}
#intro #line4{
    color:#FFFFFF;
}
#mid #space {
    float:left;
    height:200px;
    background:blue;
    width: 100px;
}
#footer{
    clear:both;
    height: 100px;
    background:grey;
    //width: 960px;
    opacity:0.5;
}

#spacer{
    //background:red;
    max-width:100%;
    height:60px;
}
#infoSec1{
    background:white;
    height:700px;
    margin: 0 auto;
    text-align:center;
    max-width:100%;
}
#infoSec1 #title{
    //background:red;
    font-size:40px;
    font-family:'Lucida Console';
}
#infoSec1 #mid{
    height:620px;
    margin:0 auto;
    background: blue;
}