body {
    background:url("pics/background.jpg") no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    margin:0 auto;
    width: 100%;
    //border:solid;
}
#topbar{
    background: grey;
    height: 20px;
    margin: 0;
    opacity: 0.5;

}
#bruce {
    text-align: center;
    background-image:url("pics/wordsbackground.png");
    //background: red;
    height: 750px;
    background-position: center 5%;
    background-repeat: no-repeat;
    margin: 20px auto 0 auto; 
} 
#bruce #line1{
    font-size: 16px;
    font-family: "Tahoma";
    letter-spacing: 20px;
    color: #9AAFAF;
}
#bruce #line2 {
    font-size:100px;
    //background: green;
    font-family:'card characters';
    font-family:'card characters';
    color: #9AAFAF;
    background-image:url("pics/spade.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/heart.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/club.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
    //
    background-image:url("pics/diamond.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
}
}
#intro #line6 {
    color: #710a05;
    text-align:center;
    }
#bruce #navbar {
    text-align:center;
    list-style-type: none;
    margin:40px 0 0 0;
    padding: 0;
      
}
#bruce #navbar li {
    //background-image:url("pics/2000px-French_suits.png");
    //background-size:250px;
    display: inline;
    font-size:20px;
    font-family:'Lucida Console';
    //background: #9AAFAF;
    margin:0px 0px;
    padding: 70px 40px;
    color: white;
}
#bruce #navbar #home{
    background-image:url("pics/spade.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
#bruce #navbar #About{
    background-image:url("pics/heart.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
#bruce #navbar #Resume{
    background-image:url("pics/club.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
#bruce #navbar #Contact{
    background-image:url("pics/diamond.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:100px;
}
#intro {
    float:left;
    font-family:Tahoma;
    font-size: 80px;
    padding: 0;
//    background: red;
    width: 525px;
    
}
#intro #line1{
    color:#222D2D;
    margin:0 0 0px 0;

}
#intro #line5 {
    font-size: 60px;
    float: left;
    -moz-transform: rotate(-90deg);
    color: #185675;
    text-align: center;
    margin: 50px -50px 0px -30px;
    padding: 0;
    color: #000000;
    z-index:-1;
}
#intro #line2{
    color: #185675;
    margin:0 0 -50px 0;

}
#intro #line3{
    color:#9AAFAF;
    margin:0 0 30px 0;
}
#intro #line4{
    color:#FFFFFF;
}
#mid #space {
    float:left;
    height:200px;
    background:blue;
    width: 100px;
}
#footer{
    clear:both;
    height: 100px;
    background:grey;
    //width: 960px;
    opacity:0.5;
}
#spacer1{
    clear:both;
    height:135px;
    //background:blue;
}

#infoSec1{
    background:white;
    height:700px;
    text-align:center;
}
#infoSec1 #title{
    //background:red;
    font-size:40px;
    font-family:'Lucida Console';
}
#infoSec1 #mid{
    height:620px;
    margin:0 auto;
    background: blue;
}